.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(56, 37, 37);
  margin-bottom: 10px;
  text-align: center;
  border: 3px rgb(22, 86, 54);
  border-radius: 5px;
  background-color: bisque;
}
.list-items{
  font-size: 2em;
  list-style: none;
  color: rgb(48, 3, 3);
  text-align: center;
  margin: 0 px;
}
.list-items li:hover{
  color: rgb(207, 219, 94);
  cursor: pointer;
  
}
.counter-container{
  text-align: center;
  font-family: Arial,sans-serif;
}
.count-disply{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;

}
.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(8, 8, 105);
  color: white;
  margin: 0px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
.count-disply:hover{
  background-color: rgb(98, 98, 253);
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}
h1{
  margin: 50px;
  font-size: 4rem;
}
.color-display{
  width: 300px;
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px rgb(87, 84, 84);
  border-radius: 25px;
  margin-bottom:25px;
  transition: 0.25s ease;
}
.color-display p{
  color: rgb(67, 173, 173);
  font-size: 2rem;
  text-align: center;
}
label{
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 12px;
}
input [type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px rgb(40, 73, 106);
}
.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
button{
  font-size: 4rem;
  font-weight: bold;
  padding: 10px 20px;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: rgb(20, 192, 80);

}
.add-button:hover{
  background-color: rgb(130, 210, 158) ;
}
.delete-button{
  background-color: rgb(48, 17, 225);

}
.delete-button:hover{
  background-color: rgb(26, 70, 134) ;
}
.move-button{
  background-color: rgb(137, 28, 9);

}
.move-button:hover{
  background-color: rgb(193, 90, 71) ;
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px rgb(228, 206, 15);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.712);

}
ol{
  padding: 0 ;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(192, 243, 245);
  margin-bottom: 12px;
  border:3px solid rgba(0, 0, 85, 0.609);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button,.move-button{
  padding: 9px 13px;
  font-size: 1.3rem;
  margin-left: 8px;

}